In [1]:
import pandas as pd

performance_data = pd.read_csv('performance_data.csv')
submission_template = pd.read_csv('submission_template.csv')
weather_data = pd.read_csv('weather_data.csv')

In [2]:
performance_data.head()

,HYBRID_ID,ENV_ID,HYBRID_MG,ENV_MG,YIELD,YEAR,LAT,LONG,PLANT_DATE,HARVEST_DATE,...,ENV_YIELD_STD,ELEVATION,CLAY,SILT,SAND,AWC,PH,OM,CEC,KSAT
0,H2782,Env_1,0,0,107.9577,2008,49.5,-98.0,2008-05-06,2008-11-03,...,7.591866,870.65,22.7,23.0,54.5,18.65,7.2,6.1,24.2,9.4
1,H2782,Env_2,0,0,85.7498,2008,49.3,-98.1,2008-05-14,2008-10-22,...,7.184953,942.41,22.7,22.0,55.8,18.75,7.3,6.9,25.2,10.2
2,H2240,Env_3,0,0,74.6116,2011,49.3,-98.0,2011-05-17,2011-10-17,...,4.583234,903.46,22.8,21.5,55.8,18.95,7.4,6.7,25.5,9.9
3,H1527,Env_3,0,0,83.8191,2011,49.3,-98.0,2011-05-17,2011-10-17,...,4.583234,903.46,22.8,21.5,55.8,18.95,7.4,6.7,25.5,9.9
4,H1369,Env_3,0,0,81.7917,2011,49.3,-98.0,2011-05-17,2011-10-17,...,4.583234,903.46,22.8,21.5,55.8,18.95,7.4,6.7,25.5,9.9

In [3]:
performance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387427 entries, 0 to 387426
Data columns (total 22 columns):
HYBRID_ID         387427 non-null object
ENV_ID            387427 non-null object
HYBRID_MG         387427 non-null int64
ENV_MG            387427 non-null int64
YIELD             387427 non-null float64
YEAR              387427 non-null int64
LAT               387427 non-null float64
LONG              387427 non-null float64
PLANT_DATE        387427 non-null object
HARVEST_DATE      387427 non-null object
IRRIGATION        379143 non-null object
ENV_YIELD_MEAN    387427 non-null float64
ENV_YIELD_STD     387427 non-null float64
ELEVATION         387427 non-null float64
CLAY              387427 non-null float64
SILT              387427 non-null float64
SAND              387427 non-null float64
AWC               387427 non-null float64
PH                387427 non-null float64
OM                387427 non-null float64
CEC               387427 non-null float64
KSAT              387427 non-null float64
dtypes: float64(14), int64(3), object(5)
memory usage: 65.0+ MB

In [4]:
performance_data.describe()

,HYBRID_MG,ENV_MG,YIELD,YEAR,LAT,LONG,ENV_YIELD_MEAN,ENV_YIELD_STD,ELEVATION,CLAY,SILT,SAND,AWC,PH,OM,CEC,KSAT
count,387427.000000,387427.000000,387427.000000,387427.000000,387427.000000,387427.000000,387427.000000,387427.000000,387427.000000,387427.000000,387427.000000,387427.000000,387427.000000,387427.000000,387427.000000,387427.000000,387427.000000
mean,5.132190,5.480511,120.738228,2012.781236,41.661369,-91.262012,120.291649,13.378154,1159.748470,24.429210,48.748303,26.796305,23.715754,6.397536,5.556450,25.454481,2.367292
std,1.707665,1.800359,21.995931,2.602693,2.360795,5.839294,17.447066,2.975853,702.488253,4.136108,10.626200,12.379756,2.083614,0.375251,2.223076,3.704428,1.672286
min,0.000000,0.000000,6.031800,2008.000000,26.100000,-104.900000,28.077529,2.807647,-2.500000,6.800000,9.300000,0.000000,11.400000,4.700000,1.600000,8.033333,0.500000
25%,4.000000,4.000000,107.817400,2011.000000,40.300000,-95.200000,109.749895,11.588648,754.390000,21.800000,40.500000,17.200000,22.500000,6.200000,4.000000,23.200000,1.200000
50%,5.000000,6.000000,122.128700,2013.000000,41.500000,-91.900000,121.749200,12.949489,1004.810000,24.700000,48.300000,27.000000,24.000000,6.300000,5.000000,25.700000,1.800000
75%,7.000000,7.000000,135.356250,2015.000000,43.300000,-87.600000,131.434895,15.037107,1278.860000,27.200000,57.500000,35.700000,25.350000,6.600000,6.900000,27.700000,3.100000
max,8.000000,9.000000,230.607000,2017.000000,49.500000,-71.500000,181.664953,41.182394,4905.310000,39.500000,72.800000,83.300000,28.250000,7.900000,20.300000,43.200000,14.700000

## Geojson map based on the coordenates of performance_data

In [6]:
# Import modules
#joined_df
import geojsonio
import json

# Get data for map
map_data = performance_data.groupby(by=['LONG','LAT']).size()
map_df = pd.DataFrame(map_data)
map_df = map_df.reset_index()
map_df.columns = ['LONG','LAT','COUNT']


# Build geojson dictionary    
map_geojson = { "type" : "FeatureCollection",
           "features": []}
for i in range(len(map_df)):
    dict_iter = {'type':'Feature',
                'geometry':{'type':'Point','coordinates':[map_df.iloc[i]['LONG'],map_df.iloc[i]['LAT']]},
                'properties':{'crop count':map_df.iloc[i]['COUNT']}}
    map_geojson['features'].append(dict_iter)

    
# Set up a map
#geojsonio.display(json.dumps(map_geojson))
map_df.head()
# Additionally, we could do a heatmap on the conditions

    LONG   LAT  COUNT
0 -104.9  40.3    618
1 -104.8  40.4    375
2 -104.7  40.3    214
3 -103.4  41.8    319
4 -103.0  36.1    404

In [ ]:
factor_df = joined_df[['LONG', 'LAT', 'PREC', 'TMAX', 'TMIN']].drop_duplicates()
#determine min, mean, max
#segment factor from 1 to 4

def factor_seg(df, factor):
    min_ = factor_df[factor].min()
    max_ = factor_df[factor].max()
    mean_ = factor_df[factor].mean()
    #binning
    diff = (max_ - min_)/4
    b_l = list()
    for x in range(len(df)):
        temp = 0
        if df.iloc[x][factor] < (min_ + diff):
            temp = 1
        elif df.iloc[x][factor] < (min_ + 2*diff):
            temp = 2
        elif df.iloc[x][factor] < (min_ + 3*diff):
            temp = 3
        else:
            temp = 4
        b_l.append(temp)
    df.insert(loc=0, column=factor + '_binning', value=b_l)
    return df
test_df = factor_seg(factor_df, 'PREC')
#test_df
#test_df.loc[:, 'PREC_binning']

In [ ]:
#folium map
import folium
m = folium.Map(location=[39, -96], zoom_start=4, tiles='Stamen Terrain')
prec_data = joined_json #pd.DataFrame(joined_json)
#prec_data.reset_index()
for x in range(len(prec_data)):
    folium.Marker([prec_data.iloc[x]['LAT'], prec_data.iloc[x]['LONG']], popup=str(prec_data.iloc[x]['PREC'])).add_to(m)

prec_data.describe()

In [ ]:
#prec buckets
min = prec_data

In [ ]:
import branca


colorscale = branca.colormap.linear.YlOrRd_09.scale(0, 50e3)
#employed_series = df.set_index('FIPS_Code')['Employed_2011']
joined_json = joined_df[['LONG', 'LAT', 'PREC']].drop_duplicates()
prec_data = joined_json
prec_data.reset_index()

def style_function(feature):
    employed = employed_series.get(int(feature['id'][-5:]), None)
    return {
        'fillOpacity': 0.5,
        'weight': 0,
        'fillColor': '#black' if employed is None else colorscale(employed)
    }


m = folium.Map(
    location=[48, -102],
    tiles='cartodbpositron',
    zoom_start=3
)

folium.TopoJson(
    open(county_geo),
    'objects.us_counties_20m',
    style_function=style_function
).add_to(m)


m
Out[15]:

In [ ]:
#401 requires authentication: Authentication Failed
#Precipitation 
joined_json = joined_df[['LONG', 'LAT', 'PREC']].drop_duplicates()
prec_data = pd.DataFrame(joined_json)
prec_data.reset_index()
prec_data.columns = ['LONG', 'LAT', 'PREC']
map_geojson_2 = { "type" : "FeatureCollection",
           "features": []}
print(len(prec_data))
for i in range(len(prec_data)):
    dict_iter_2 = {'type':'Feature',
                    'geometry':{'type':'Point','coordinates':[prec_data.iloc[i]['LONG'],prec_data.iloc[i]['LAT']]},
                    'properties':{'prec':prec_data.iloc[i]['PREC']}}
    map_geojson_2['features'].append(dict_iter_2)

#geojsonio.display(json.dumps(map_geojson_2))

## Correlation heatmap
There are no strong correlations between weather conditions and yield if we look at the aggregated data. We can conclude we'll have to go one level deeper and do the analysis on every specific Hybrid_ID

In [ ]:
# Import modules
import seaborn as sns
import numpy as np

# Extract average weather metrics for every ENV_ID
weather_grouped = weather_data.groupby(by='ENV_ID').mean()
weather_grouped = weather_grouped.drop('DAY_NUM', axis='columns')

# Join dataframes on 'ENV_ID'
joined_df = performance_data.join(weather_grouped,on='ENV_ID')

# Prepare dataframe to redo correlation matrix
joined_df_drop = joined_df.drop(['HYBRID_ID','ENV_ID','ENV_YIELD_MEAN','ENV_YIELD_STD'],axis='columns')
corr_matrix_joined = joined_df_drop.corr()

# Draw heatmap
import matplotlib.pyplot as plt
fig, ax = plt.subplots(figsize=(12,10))
sns.heatmap(corr_matrix_joined,cmap='BuGn')
top_5 = corr_matrix_joined['YIELD'].sort_values(ascending=False).iloc[1:6]
bottom_5 = corr_matrix_joined['YIELD'].sort_values(ascending=True).iloc[0:5]
print(top_5,bottom_5)

#### When looked at an individual level, we see a negative correlation between yield and TMIN, LONG and CLAY

In [ ]:
# Repeat the same but just for one HYBRID_ID
# Find out HYBRID_IDs with most observations to draw significant conclusions
print(joined_df.groupby(by='HYBRID_ID').size().sort_values(ascending=False).iloc[:5])

# Choose H1117 hybrid
joined_df_H1117 = joined_df[joined_df['HYBRID_ID']=='H1117']

# Prepare dataframe to redo correlation matrix
joined_df_H1117 = joined_df_H1117.drop(['HYBRID_ID','ENV_ID','HYBRID_MG','ENV_YIELD_MEAN','ENV_YIELD_STD'],axis='columns')
corr_matrix_H1117 = joined_df_H1117.corr()

# Draw heatmap
import matplotlib.pyplot as plt
fig, ax = plt.subplots(figsize=(12,10))
sns.heatmap(corr_matrix_H1117,cmap='BuGn')
top_5 = corr_matrix_H1117['YIELD'].sort_values(ascending=False).iloc[1:6]
bottom_5 = corr_matrix_H1117['YIELD'].sort_values(ascending=True).iloc[0:5]
print(top_5,bottom_5)

In [ ]:
# Repeat the same but just for one HYBRID_ID
# Find out HYBRID_IDs with most observations to draw significant conclusions
print(joined_df.groupby(by='HYBRID_ID').size().sort_values(ascending=False).iloc[:5])

# Choose H1037 hybrid
joined_df_H1037 = joined_df[joined_df['HYBRID_ID']=='H1037']

# Prepare dataframe to redo correlation matrix
joined_df_H1037 = joined_df_H1037.drop(['HYBRID_ID','ENV_ID','HYBRID_MG','ENV_YIELD_MEAN','ENV_YIELD_STD'],axis='columns')
corr_matrix_H1037 = joined_df_H1037.corr()

# Draw heatmap
import matplotlib.pyplot as plt
fig, ax = plt.subplots(figsize=(12,10))
sns.heatmap(corr_matrix_H1037,cmap='BuGn')
top_5 = corr_matrix_H1037['YIELD'].sort_values(ascending=False).iloc[1:6]
bottom_5 = corr_matrix_H1037['YIELD'].sort_values(ascending=True).iloc[0:5]
print(' ')
print('TOP 5:')
print(top_5)
print('')
print('BOTTOM 5:')
print(bottom_5)

In [ ]:
performance_data.groupby(by=['HYBRID_ID','ENV_ID']).size()

In [ ]:
#change joined_df.iloc[:, 10] 'IRRAGATION column into numerical values
#currently: ['DRY', 'NONE', 'IRR', nan, 'LIRR', 'ECO']

In [ ]:
#ML model
#performance_data
from sklearn.model_selection import train_test_split
train, test = train_test_split(joined_df, test_size = 0.3)
x_train = train.iloc[:, 11:]
y_train = train['YIELD']
x_test = test.iloc[:, 11:]
y_test = test['YIELD']

In [ ]:
from sklearn import linear_model
model = linear_model.LinearRegression()
model.fit(x_train, y_train)

testing_predictions = model.predict(x_test)

def get_classification(predictions,threshold):
    classes = np.zeros_like(testing_predictions)
    for i in range(len(classes)):
        if predictions[i] > threshold:
            classes[i] = 1
    return classes

test = get_classification(testing_predictions,0.8)
test[90]

In [ ]:
#model evaluation
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,get_classification(testing_predictions,0.3))

In [ ]:
y_test.count()

In [ ]:
#joined_df.iloc[:, 10:]
x_train.count()
y_train.count()
joined_df